name: ci
on:
  push:
    branches-ignore:
      - master

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - run: ./.github/scripts/install_deps.sh --test
      - name: Build deps
        run: |
          cmake -S cmake.deps -B .deps -G Ninja -D CMAKE_BUILD_TYPE=RelWithDebInfo
          cmake --build .deps
      - name: Build neovim
        run: |
          cmake -B build -G Ninja -D CMAKE_BUILD_TYPE=RelWithDebInfo
          cmake --build build
      - name: Run unit tests
        run: cmake --build build --target unittest
